In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

# data1 = pd.read_csv("normalized_tva_server_1_tactic_1_validation.csv",parse_dates= ['Timestamp'])
# data2 = pd.read_csv("normalized_tva_server_1_tactic_1_train.csv",parse_dates= ['Timestamp'])
data1 = pd.read_csv("normalized_tva_server_2_tactic_1_test.csv",parse_dates= ['timestamp'])
data2 = pd.read_csv("normalized_tva_server_2_tactic_1_train.csv",parse_dates= ['timestamp'])
data3 = pd.read_csv("normalized_tva_server_2_tactic_1_validation.csv",parse_dates= ['timestamp'])
data4 = pd.read_csv("normalized_tva_server_3_tactic_1_test.csv",parse_dates= ['timestamp'])
data5 = pd.read_csv("normalized_tva_server_3_tactic_1_train.csv",parse_dates= ['timestamp'])
data6 = pd.read_csv("normalized_tva_server_3_tactic_1_validation.csv",parse_dates= ['timestamp'])

# data1['Timestamp'] = pd.to_datetime(data1['Timestamp'])
# data2['Timestamp'] = pd.to_datetime(data2['Timestamp'])

data1['timestamp'] = pd.to_datetime(data1['timestamp'])
data2['timestamp'] = pd.to_datetime(data2['timestamp'])
data3['timestamp'] = pd.to_datetime(data3['timestamp'])
data4['timestamp'] = pd.to_datetime(data4['timestamp'])
data5['timestamp'] = pd.to_datetime(data5['timestamp'])
data6['timestamp'] = pd.to_datetime(data6['timestamp'])

In [2]:
# data1.head()

data1.head()

,timestamp,time_since_last_recording,latency,cost,reliability,ping_timestamp,time_since_last_ping,ping_success,ping_time
0,2020-04-17 05:31:49.000900,0.002007,0.017706,0.132812,1,2020-04-17 05:29:40.000915,0.008699,1,0.380221
1,2020-04-17 05:33:12.000581,0.005486,0.018015,0.121094,1,2020-04-17 05:29:40.000915,0.014340,1,0.380221
2,2020-04-17 05:36:43.000981,0.014117,0.017720,0.089844,1,2020-04-17 05:35:10.000990,0.006253,1,0.379856
3,2020-04-17 05:38:58.000199,0.008965,0.017717,0.093750,1,2020-04-17 05:38:24.000739,0.002243,1,0.379733
4,2020-04-17 05:41:25.000957,0.009835,0.017942,0.101562,1,2020-04-17 05:40:18.000300,0.004553,1,0.379812

In [ ]:
# data2.head()

In [ ]:
# data=data.drop(data.columns[0], axis=1)

In [ ]:
# data=data.drop(data.columns[6], axis=1)

In [ ]:
# data.head()

In [ ]:
# data['TotalCost'] = data['Latency'] * data['Cost']

In [ ]:
# data.head()

In [ ]:
# doW1 = data1['timestamp'].dt.day_name()
doW2 = data2['timestamp'].dt.day_name()
# doW3 = data3['timestamp'].dt.day_name()
# doW4 = data4['timestamp'].dt.day_name()
doW5 = data5['timestamp'].dt.day_name()
doW6 = data6['timestamp'].dt.day_name()

In [3]:
hh1 = data1['timestamp'].dt.hour
hh2 = data2['timestamp'].dt.hour
hh3 = data3['timestamp'].dt.hour
hh4 = data4['timestamp'].dt.hour
hh5 = data5['timestamp'].dt.hour
hh6 = data6['timestamp'].dt.hour

In [4]:
# mm1 = data1['Timestamp'].dt.minute
# mm2 = data2['Timestamp'].dt.minute

mm1 = data1['timestamp'].dt.minute
mm2 = data2['timestamp'].dt.minute
mm3 = data3['timestamp'].dt.minute
mm4 = data4['timestamp'].dt.minute
mm5 = data5['timestamp'].dt.minute
mm6 = data6['timestamp'].dt.minute

In [5]:
# ss1 = (data1['Timestamp'].dt.second.astype(str)+"."+data1['Timestamp'].dt.microsecond.astype(str)).astype(float)
# ss2 = (data2['Timestamp'].dt.second.astype(str)+"."+data2['Timestamp'].dt.microsecond.astype(str)).astype(float)
ss1 = (data1['timestamp'].dt.second.astype(str)+"."+data1['timestamp'].dt.microsecond.astype(str)).astype(float)
ss2 = (data2['timestamp'].dt.second.astype(str)+"."+data2['timestamp'].dt.microsecond.astype(str)).astype(float)
ss3 = (data3['timestamp'].dt.second.astype(str)+"."+data3['timestamp'].dt.microsecond.astype(str)).astype(float)
ss4 = (data4['timestamp'].dt.second.astype(str)+"."+data4['timestamp'].dt.microsecond.astype(str)).astype(float)
ss5 = (data5['timestamp'].dt.second.astype(str)+"."+data5['timestamp'].dt.microsecond.astype(str)).astype(float)
ss6 = (data6['timestamp'].dt.second.astype(str)+"."+data6['timestamp'].dt.microsecond.astype(str)).astype(float)

In [6]:
# dataTimeCols1 = pd.concat([doW1,hh1,mm1,ss1],axis = 1,keys=['doW','Hours','Minutes','Seconds'])
# dataTimeCols2 = pd.concat([doW2,hh2,mm2,ss2],axis = 1,keys=['doW','Hours','Minutes','Seconds'])


dataTimeCols1 = pd.concat([hh1,mm1,ss1],axis = 1,keys=['Hours','Minutes','Seconds'])
dataTimeCols2 = pd.concat([hh2,mm2,ss2],axis = 1,keys=['Hours','Minutes','Seconds'])
dataTimeCols3 = pd.concat([hh3,mm3,ss3],axis = 1,keys=['Hours','Minutes','Seconds'])
dataTimeCols4 = pd.concat([hh4,mm4,ss4],axis = 1,keys=['Hours','Minutes','Seconds'])
dataTimeCols5 = pd.concat([hh5,mm5,ss5],axis = 1,keys=['Hours','Minutes','Seconds'])
dataTimeCols6 = pd.concat([hh6,mm6,ss6],axis = 1,keys=['Hours','Minutes','Seconds'])

In [7]:
# data1 = pd.concat([pd.DataFrame([0]*data1.shape[0]), dataTimeCols1, data1.iloc[:,1:], pd.DataFrame([0]*data1.shape[0])],axis = 1)
# data2 = pd.concat([pd.DataFrame([0]*data2.shape[0]), dataTimeCols2, data2.iloc[:,1:], pd.DataFrame([0]*data2.shape[0])],axis = 1)

data1 = pd.concat([pd.DataFrame([0]*data1.shape[0]), dataTimeCols1, data1.iloc[:,1:], pd.DataFrame([0]*data1.shape[0])],axis = 1)

data2 = pd.concat([pd.DataFrame([0]*data2.shape[0]), dataTimeCols2, data2.iloc[:,1:], pd.DataFrame([0]*data2.shape[0])],axis = 1)

data3 = pd.concat([pd.DataFrame([0]*data3.shape[0]), dataTimeCols3, data3.iloc[:,1:], pd.DataFrame([0]*data3.shape[0])],axis = 1)


data4 = pd.concat([pd.DataFrame([0]*data4.shape[0]), dataTimeCols4, data4.iloc[:,1:], pd.DataFrame([0]*data4.shape[0])],axis = 1)


data5 = pd.concat([pd.DataFrame([0]*data5.shape[0]), dataTimeCols5, data5.iloc[:,1:], pd.DataFrame([0]*data5.shape[0])],axis = 1)


data6 = pd.concat([pd.DataFrame([0]*data6.shape[0]), dataTimeCols6, data6.iloc[:,1:], pd.DataFrame([0]*data6.shape[0])],axis = 1)

In [8]:
# data1.head()

data3.head()

,0,Hours,Minutes,Seconds,time_since_last_recording,latency,cost,reliability,ping_timestamp,time_since_last_ping,ping_success,ping_time,0
0,0,6,4,25.520,0.001806,0.018192,0.134766,1,2020-04-19 06:04:10.000245,0.000951,1,0.380247,0
1,0,6,4,38.670,0.000870,0.017934,0.089844,1,2020-04-19 06:04:10.000245,0.001903,1,0.380247,0
2,0,6,6,51.262,0.008831,0.017704,0.097656,1,2020-04-19 06:05:06.000142,0.007136,1,0.379931,0
3,0,6,7,58.262,0.004483,0.017974,0.091797,1,2020-04-19 06:06:52.000241,0.004486,1,0.379940,0
4,0,6,10,1.166,0.008162,0.017945,0.091797,1,2020-04-19 06:09:45.000956,0.001019,1,0.379786,0

In [ ]:
# data2.head()

In [9]:
data1=data1.drop(data1.columns[0], axis=1)
data2=data2.drop(data2.columns[0], axis=1)
data3=data3.drop(data3.columns[0], axis=1)
data4=data4.drop(data4.columns[0], axis=1)
data5=data5.drop(data5.columns[0], axis=1)
data6=data6.drop(data6.columns[0], axis=1)

In [10]:
data3.head()

,Hours,Minutes,Seconds,time_since_last_recording,latency,cost,reliability,ping_timestamp,time_since_last_ping,ping_success,ping_time
0,6,4,25.520,0.001806,0.018192,0.134766,1,2020-04-19 06:04:10.000245,0.000951,1,0.380247
1,6,4,38.670,0.000870,0.017934,0.089844,1,2020-04-19 06:04:10.000245,0.001903,1,0.380247
2,6,6,51.262,0.008831,0.017704,0.097656,1,2020-04-19 06:05:06.000142,0.007136,1,0.379931
3,6,7,58.262,0.004483,0.017974,0.091797,1,2020-04-19 06:06:52.000241,0.004486,1,0.379940
4,6,10,1.166,0.008162,0.017945,0.091797,1,2020-04-19 06:09:45.000956,0.001019,1,0.379786

In [ ]:
# data2=data2.drop(data2.columns[0], axis=1)

In [ ]:
# data2.head()

In [ ]:
# one_hot1 = pd.get_dummies(data1['doW'])
# one_hot2 = pd.get_dummies(data2['doW'])
# one_hot2 = pd.get_dummies(data['Tactic'],prefix='Tactic_')
# one_hot3 = pd.get_dummies(data['Server'],prefix='Server_')

In [ ]:
# data1 = data1.drop('doW',axis = 1)
# data1 = data1.join(one_hot1)

# data2 = data2.drop('doW',axis = 1)
# data2 = data2.join(one_hot2)

In [ ]:
# data = data.drop('Tactic',axis = 1)
# data = data.join(one_hot2)

In [ ]:
# data = data.drop('Server',axis = 1)
# data = data.join(one_hot3)

In [ ]:
# data=data.drop(data.columns[0], axis=1)

In [ ]:
# data1.head()

In [ ]:
# data2.head()

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

data1[['Hours','Minutes','Seconds']] = scaler.fit_transform(data1[['Hours','Minutes','Seconds']])

data2[['Hours','Minutes','Seconds']] = scaler.fit_transform(data2[['Hours','Minutes','Seconds']])

data3[['Hours','Minutes','Seconds']] = scaler.fit_transform(data3[['Hours','Minutes','Seconds']])

data4[['Hours','Minutes','Seconds']] = scaler.fit_transform(data4[['Hours','Minutes','Seconds']])

data5[['Hours','Minutes','Seconds']] = scaler.fit_transform(data5[['Hours','Minutes','Seconds']])

data6[['Hours','Minutes','Seconds']] = scaler.fit_transform(data6[['Hours','Minutes','Seconds']])

In [12]:
data1.head()

,Hours,Minutes,Seconds,time_since_last_recording,latency,cost,reliability,ping_timestamp,time_since_last_ping,ping_success,ping_time
0,0.217391,0.525424,0.831351,0.002007,0.017706,0.132812,1,2020-04-17 05:29:40.000915,0.008699,1,0.380221
1,0.217391,0.559322,0.208017,0.005486,0.018015,0.121094,1,2020-04-17 05:29:40.000915,0.014340,1,0.380221
2,0.217391,0.610169,0.732487,0.014117,0.017720,0.089844,1,2020-04-17 05:35:10.000990,0.006253,1,0.379856
3,0.217391,0.644068,0.969968,0.008965,0.017717,0.093750,1,2020-04-17 05:38:24.000739,0.002243,1,0.379733
4,0.217391,0.694915,0.431435,0.009835,0.017942,0.101562,1,2020-04-17 05:40:18.000300,0.004553,1,0.379812

In [ ]:
# data2.head()

In [ ]:
# data.head()

In [13]:
# data1 = pd.read_csv("normalized_tva_server_2_tactic_1_test.csv",parse_dates= ['timestamp'])
# data2 = pd.read_csv("normalized_tva_server_2_tactic_1_train.csv",parse_dates= ['timestamp'])
# data3 = pd.read_csv("normalized_tva_server_2_tactic_1_validation.csv",parse_dates= ['timestamp'])
# data4 = pd.read_csv("normalized_tva_server_3_tactic_1_test.csv",parse_dates= ['timestamp'])
# data5 = pd.read_csv("normalized_tva_server_3_tactic_1_train.csv",parse_dates= ['timestamp'])
# data6 = pd.read_csv("normalized_tva_server_3_tactic_1_validation.csv",parse_dates= ['timestamp'])

data1.to_csv("normalized_tva_server_2_tactic_1_test.csv")
data2.to_csv("normalized_tva_server_2_tactic_1_train.csv")
data3.to_csv("normalized_tva_server_2_tactic_1_validation.csv")
data4.to_csv("normalized_tva_server_3_tactic_1_test.csv")
data5.to_csv("normalized_tva_server_3_tactic_1_train.csv")
data6.to_csv("normalized_tva_server_3_tactic_1_validation.csv")

In [ ]:
import pandas as pd
data = pd.read_csv("tva_output_new.csv")

In [ ]:
data.head()

In [ ]:
data=data.drop(data.columns[0], axis=1)

In [ ]:
data.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[['Hours','Minutes','Seconds','Latency','Cost','TotalCost']] = scaler.fit_transform(data[['Hours','Minutes','Seconds','Latency','Cost', 'TotalCost']])

In [ ]:
data.head()

In [ ]:
from sklearn.model_selection import train_test_split

X=(data)
X_train,X_test = train_test_split(X, test_size=0.2, shuffle=False)

X_val_train,X_val_test = train_test_split(X_train, test_size=0.2,shuffle=False)

In [ ]:
X_train.to_csv('X_train.csv')
X_test.to_csv('X_test.csv')
X_val_train.to_csv('X_val_train.csv')
X_val_test.to_csv('X_val_test.csv')