In [1]:
import pandas as pd

In [2]:
data_MLP = pd.read_csv("predictions_MLP.csv")
data_LSTM = pd.read_csv("predictions_LSTM.csv")
data_SVR_RBF = pd.read_csv("predictions_SVR_RBF.csv")

In [4]:
data_SVR_RBF.head()

,Hours,Minutes,Seconds,Latency,Reliability,TotalCost,Friday,Monday,Saturday,Sunday,...,Tactic__2,Tactic__3,Tactic__4,Tactic__5,Server__1,Server__2,Server__3,predicted_Latency,predicted_Reliability,predicted_TotalCost
0,0.565217,0.474576,0.330735,0.015461,1,0.031044,0,0,1,0,...,0,0,0,0,0,1,0,NaN,NaN,NaN
1,0.565217,0.474576,0.391352,0.031939,1,0.295909,0,0,1,0,...,1,0,0,0,0,1,0,0.109982,1.0,0.300493
2,0.565217,0.474576,0.394588,0.001639,1,0.014436,0,0,1,0,...,0,1,0,0,0,1,0,0.098289,1.0,0.101379
3,0.565217,0.474576,0.503375,0.057375,1,0.527521,0,0,1,0,...,0,0,1,0,0,1,0,0.109986,1.0,0.588525
4,0.565217,0.474576,0.508277,0.002575,1,0.023041,0,0,1,0,...,0,0,0,1,0,1,0,0.099038,1.0,0.091882

In [6]:
# if (data_MLP['Tactic__1'] == 1):
#     data_MLP_server1_tactic_1 = data_MLP

data_MLP_server1_tactic_1 = data_MLP[(data_MLP['Tactic__1'] == 1) & (data_MLP['Server__1'] == 1)]
data_MLP_server2_tactic_1 = data_MLP[(data_MLP['Tactic__1'] == 1) & (data_MLP['Server__2'] == 1)]
data_MLP_server3_tactic_1 = data_MLP[(data_MLP['Tactic__1'] == 1) & (data_MLP['Server__3'] == 1)]

data_LSTM_server1_tactic_1 = data_LSTM[(data_LSTM['Tactic__1'] == 1) & (data_LSTM['Server__1'] == 1)]
data_LSTM_server2_tactic_1 = data_LSTM[(data_LSTM['Tactic__1'] == 1) & (data_LSTM['Server__2'] == 1)]
data_LSTM_server3_tactic_1 = data_LSTM[(data_LSTM['Tactic__1'] == 1) & (data_LSTM['Server__3'] == 1)]

data_SVR_RBF_server1_tactic_1 = data_SVR_RBF[(data_SVR_RBF['Tactic__1'] == 1) & (data_SVR_RBF['Server__1'] == 1)]
data_SVR_RBF_server2_tactic_1 = data_SVR_RBF[(data_SVR_RBF['Tactic__1'] == 1) & (data_SVR_RBF['Server__2'] == 1)]
data_SVR_RBF_server3_tactic_1 = data_SVR_RBF[(data_SVR_RBF['Tactic__1'] == 1) & (data_SVR_RBF['Server__3'] == 1)]

In [8]:
data_MLP_server1_tactic_1.to_csv('prediction_MLP_server1_tactic_1.csv')
data_MLP_server2_tactic_1.to_csv('prediction_MLP_server2_tactic_1.csv')
data_MLP_server3_tactic_1.to_csv('prediction_MLP_server3_tactic_1.csv')

data_LSTM_server1_tactic_1.to_csv('prediction_LSTM_server1_tactic_1.csv')
data_LSTM_server2_tactic_1.to_csv('prediction_LSTM_server2_tactic_1.csv')
data_LSTM_server3_tactic_1.to_csv('prediction_LSTM_server3_tactic_1.csv')

data_SVR_RBF_server1_tactic_1.to_csv('prediction_SVR_RBF_server1_tactic_1.csv')
data_SVR_RBF_server2_tactic_1.to_csv('prediction_SVR_RBF_server2_tactic_1.csv')
data_SVR_RBF_server3_tactic_1.to_csv('prediction_SVR_RBF_server3_tactic_1.csv')

In [9]:
data_ARIMA = pd.read_csv("predictions_ARIMA.csv")

In [10]:
data_ARIMA.head()

,Hours,Minutes,Seconds,Latency,Reliability,TotalCost,Friday,Monday,Saturday,Sunday,...,Tactic__2,Tactic__3,Tactic__4,Tactic__5,Server__1,Server__2,Server__3,predicted_Latency,predicted_Reliability,predicted_TotalCost
0,0.565217,0.474576,0.330735,0.015461,1,0.031044,0,0,1,0,...,0,0,0,0,0,1,0,NaN,NaN,NaN
1,0.565217,0.474576,0.391352,0.031939,1,0.295909,0,0,1,0,...,1,0,0,0,0,1,0,0.027933,1.0,0.178851
2,0.565217,0.474576,0.394588,0.001639,1,0.014436,0,0,1,0,...,0,1,0,0,0,1,0,0.027933,1.0,0.178851
3,0.565217,0.474576,0.503375,0.057375,1,0.527521,0,0,1,0,...,0,0,1,0,0,1,0,0.027933,1.0,0.178851
4,0.565217,0.474576,0.508277,0.002575,1,0.023041,0,0,1,0,...,0,0,0,1,0,1,0,0.027933,1.0,0.178851

In [11]:

data_ARIMA_server1_tactic_1 = data_ARIMA[(data_ARIMA['Tactic__1'] == 1) & (data_ARIMA['Server__1'] == 1)]
data_ARIMA_server2_tactic_1 = data_ARIMA[(data_ARIMA['Tactic__1'] == 1) & (data_ARIMA['Server__2'] == 1)]
data_ARIMA_server3_tactic_1 = data_ARIMA[(data_ARIMA['Tactic__1'] == 1) & (data_ARIMA['Server__3'] == 1)]

In [12]:
data_ARIMA_server1_tactic_1.to_csv('prediction_ARIMA_server1_tactic_1.csv')
data_ARIMA_server2_tactic_1.to_csv('prediction_ARIMA_server2_tactic_1.csv')
data_ARIMA_server3_tactic_1.to_csv('prediction_ARIMA_server3_tactic_1.csv')